.eventnav{
	text-align:center;
	background-color:black;
	color:#ddd;
}

.eventnav :hover{
	cursor:pointer;
	color:yellow;
}

.eventnav .selected-event{
	padding-top:6px;
}

.eventnav-expanded{
	display:none;
	text-align:center;
	background-color:black;
	color:#ddd;
}

.eventnav-expanded .eventselect{
	padding-top:6px;
	background-color:black;
	border-bottom:1px solid #333;
}

.eventnav-expanded .selected-event{
	color:yellow;
}

.eventnav-expanded .eventselect :hover{
	cursor:pointer;
	color:yellow;
}

.roundnav{
	height:40px;
	font-size:13pt;
	text-align:center;
	background-color:#333;
	color:#ccc;
}

.roundnav .columns{
	padding-left:10px;
	padding-right:10px;
}

.roundnav #roundback{
	color:white;
	float:right;
	padding-top:7px;
}

.roundnav #roundnext{
	color:white;
	float:left;
	padding-top:7px;
}

.navmenu{
	font-size:10pt;
	padding:10px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}

.navmenu .columns{
	padding-bottom:5px;
	border-bottom:2px solid #ddd;
}

.navmenu .columns:hover{
	cursor:pointer;
	border-bottom:2px solid orange;
	color:orange;
}

.navmenu .selected{
	font-weight:900;
	border-bottom:2px solid black;
}

.roundselect{
	display:none;
}

.selected-round{
	display:inline;
}

.enterleft{
	display:inline;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

.exitright{
	display:none;
	transform: translateX(100%);
	transition: transform 0.3s ease-in-out;
}

















