body{
	background-color:rgba(250,250,250,1);
}

.filter-menu{
	
}

.filter-menu .columns{
	text-align:center;
	padding:9px;
	background-color:#ddd;
	border-bottom:1px solid white;
	cursor:pointer;
}

.filter-menu .columns:hover{
	background-color:#ccc;
	-webkit-transition: background-color 0.5s ease-in-out;
	    -moz-transition: background-color 0.5s ease-in-out;
	    -ms-transition: background-color 0.5s ease-in-out;
	    -o-transition: background-color 0.5s ease-in-out;
}

.heat-filter-select{
	display:none;
}

.eventround{
	
}



.eventrounddetails{
	margin-top:20px;
	margin-bottom:20px;
}

.eventheattitle{
	background-color:#ccc;
	font-size:9pt;
	font-weight:900;
	padding:7px;
}

.eventheatrow{
	border-bottom:1px solid #ddd;
}



.eventheatrow .columns{
	
}




.eventposition{
	font-weight:100;
	font-size:17pt;
	border-left:1px solid white;
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
}

.eventsurfer{
	font-weight:900;
	text-align:left;
}

.eventsurfershort{
	font-weight:900;
	padding-left:0px;padding-right:0px;padding-top:13px;padding-bottom:13px;
	text-align:center;
}

.eventpicklist{
	padding-left:0px;
	padding-right:0px;
	border-left:5px solid rgba(255, 255, 255, 0.3);
}

.eventpick{
	padding:0px;
	padding-top:15px;
	height:50px;
	font-weight:300;
	text-align:center;
	font-size:9pt;
	border-right:1px solid rgba(255, 255, 255, 0.3);
	overflow:hidden;
}

.highlighted{
	background-color:rgba(255,255,26,0.2);
	color:black;
	-webkit-transition: background-color 1s ease-in-out;
	    -moz-transition: background-color 1s ease-in-out;
	    -ms-transition: background-color 1s ease-in-out;
	    -o-transition: background-color 1s ease-in-out;
}



.round1complete  {background-color: rgba(50, 20, 51, 0.8);color:white;}
.round1incomplete{background-color: rgba(50, 20, 51, 0.3);color:black;}


.yellowjersey .eventsurfer {border-left:8px solid rgba(239, 192, 40, 1);}
.yellowjersey .eventsurfershort {border-left:8px solid rgba(239, 192, 40, 1);}

.bluejersey	.eventsurfer{border-left:8px solid rgba(0, 103, 166, 1);}
.bluejersey	.eventsurfershort{border-left:8px solid rgba(0, 103, 166, 1);}

.redjersey .eventsurfer  {border-left:8px solid rgba(242, 87, 45, 1);}
.redjersey .eventsurfershort  {border-left:8px solid rgba(242, 87, 45, 1);}

.whitejersey .eventsurfer {border-left:8px solid rgba(255, 255, 255, 1);}
.whitejersey .eventsurfershort {border-left:8px solid rgba(255, 255, 255, 1);}


.heatwinner {color:rgba(0, 137, 114, 1);}
.heatwinner .eventsurfer  {border-left:8px solid rgba(0, 137, 114, 1);}
.heatwinner .eventsurfershort {border-left:8px solid rgba(0, 137, 114, 1);}

.rd2loser {color:rgba(50, 20, 51, 0.8);}
.rd2loser .eventsurfer {border-left:8px solid rgba(50, 20, 51, 0.8);}
.rd2loser .eventsurfershort {border-left:8px solid rgba(50, 20, 51, 0.8);}

.heatrelegated{color:rgba(242, 87, 45, 1);}
.heatrelegated .eventsurfer {border-left:8px solid rgba(242, 87, 45, 1);}
.heatrelegated .eventsurfershort {border-left:8px solid rgba(242, 87, 45, 1);}